<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ruby on Brain | Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p>
        <h1>Ruby on Brain</h1>
    </p>
    <hr>
    <p>
        <h4>Загрузка изображений</h4>
    </p>

    <form action="upload" method="post" enctype="multipart/form-data">  <!--enctype - способ кодирования данных при отправке на сервер, обычно не добавляется, но для файлов необходим-->
        <input type="file" name="uploads" /> <br />
        
        <input type="submit" value="Загрузить" />
    </form>
    

</body>
</html>